<!-- views/partials/header.ejs -->

<nav>
    <ul>
        <li><a href="../destination1">Paris</a></li>
        <li><a href="../destination2">Amsterdam</a></li>
        <li><a href="../destination3">Rio de Janeiro</a></li>
        <li><a href="../destination4">Berlin</a></li>
    </ul>

</nav>
