<!-- views/destination1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <% include ./partials/header %>

    <a href="/">Go back to Home</a>


    <h1>Paris</h1>

    <img src="/images/paris.jpg" alt="Paris Image" style="width: 300px">

    <p>Paris is the capital city of France. It is known for its art, fashion, gastronomy, and culture. Some iconic landmarks include the Eiffel Tower, Notre-Dame Cathedral, and the Louvre Museum.</p>

    <p>
        I arrived late night in Paris, not knowing how to speak French. I asked for a cab, but the driver didn't understand what I was saying. Luckily, I had my cellphone with Waze and showed the driver the address where we wanted to go. Trusting that he would drive us to the place, he left us at the intended address. However, everything was dark, and the place was inside a sort of gallery. All of us turned on the flashlights on our phones and started to look for the apartment number. After a few minutes, one of us found it. The place was difficult to find, but had everything we wanted. And for the first time in our backpacking trip, we cooked a wonderful pasta, with my sister teaching me how to cook it.
    </p>
    <p>
        Paris is beautiful, but like everywhere I have been, there are some issues when you are not close to the main tourist points. I must say that I do want to go back there to have a different experience and reevaluate. It was on the Eiffel Tower that my husband asked me to date him. I may not have had a good first impression of Paris, but it will certainly be one of my favorite places and unforgettable.
    </p>
</body>
</html>
