<!-- views/destination3.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <% include ./partials/header %>
    <a href="/">Go back to Home</a>


    <h1>Rio de Janeiro</h1>
    <p>Rio de Janeiro is a vibrant city in Brazil known for its stunning beaches, scenic landscape, and annual Carnival celebration. Attractions include Copacabana Beach, Christ the Redeemer statue, and Sugarloaf Mountain.</p>
    <p>I haven't visited yet, but it's on my list!</p>
</body>
</html>
