<!-- views/destination1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <% include ./partials/header %>

    <a href="/">Go back to Home</a>


    <h1>Paris</h1>
    <p>Paris is the capital city of France. It is known for its art, fashion, gastronomy, and culture. Some iconic landmarks include the Eiffel Tower, Notre-Dame Cathedral, and the Louvre Museum.</p>
</body>
</html>
