<!-- views/destination4.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %></h1>
    <% include ./partials/header %>   
    <a href="/">Go back to Home</a>

    <img src="/images/berlin.jpg" alt="Berlin Image" style="width: 300px">
    <h1>Berlin</h1>
    <p>Berlin is the capital city of Germany known for its rich history, art scene, and modern architecture. Attractions include the Berlin Wall, Brandenburg Gate, and the Reichstag building.</p>
</body>
</html>
