<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> - Choose one of the following location for a closer look on my experience</p>
    <% include ./partials/header.ejs %>


  </body>
</html>
